.header {
    position: relative;

    &__rowTop {
        padding: map-get($spacers , 2 ) 0;
        background-color: #030F27;

        &__wrapper {
            display: flex;

            @include media-breakpoint-only(xs) {
                flex-direction: column;
            }

            /* Column Left*/
            &__contact {
                display: flex;
                list-style: none;
                align-items: center;
                margin: map-get($spacers, 0);
                margin-right: auto;
                padding: map-get($spacers, 0 );

                @include media-breakpoint-only(xs) {
                    flex-direction: column;
                    align-items: flex-start;
                    margin-bottom: map-get($spacers, 1);
                }

                li {

                    &:nth-child(even) {

                        &:before {
                            content: '';
                            display: inline-block;
                            background-color: #495264;
                            height: 15px;
                            width: 1px;
                            margin: 0 15px;
                            vertical-align: middle;

                            @include media-breakpoint-only(xs) { 
                                content: unset;
                            }
                        }

                        &:after {
                            content: '';
                            display: inline-block;
                            background-color: #495264;
                            height: 15px;
                            width: 1px;
                            margin: 0 15px;
                            vertical-align: middle;

                            @include media-breakpoint-only(xs) { 
                                content: unset;
                            }
                        }

                        
                    }

                    a {
                        color: #8a99c0;
                        font-weight: $font-weight-bold;
                        text-decoration: none;
                        transition: all 0.6s;
                        @include responsive-font-size(14px);

                        &:hover {
                            color: $orange;
                            transition: all 0.7s;

                            i {
                                color: $white;
                                transition: all 0.7s;
                            }
                        }

                        .fa-phone, .fa-envelope, .fa-map-marker-alt {
                            color: $orange;
                            transition: all 0.6s;
                        }

                    }

                }

            }
            /* end Column Left*/

            /* Column Right*/
            &__redeSocial {
                display: flex;
                margin: map-get($spacers , 0 );
                list-style: none;
                padding: map-get($spacers, 0 );

                @include media-breakpoint-only(xs) { 
                    justify-content: flex-start; 
                }

                li {


                    a {

                        .fa-facebook-f, .fa-twitter , .fa-linkedin-in, .fa-instagram {
                            color: #8a99c0;
                            margin-left: map-get($spacers, 3);
                        }
                    }

                }
            }   
            /* end Column Right*/
        }

    }

    &__rowCenter {
        background-color: rgba(3, 15, 39, 0.158);
        padding: map-get($spacers, 4) 0 map-get($spacers, 5) ;
        position: absolute;
        width: 100%;
        top: 40px;

        @include media-breakpoint-only(xs) {
            top: 116px;
            padding: map-get($spacers, 3) 0;
        }

        &__wrapper {
            display: flex;

            @include media-breakpoint-only(xs) { 
                flex-direction: column;
            }

            .logo {
                margin-right: auto;

                @include media-breakpoint-only(xs) { 
                    margin: 0 auto map-get($spacers,3);
                }
            }

            .group-icons {
                display: flex;
                justify-content: space-around;
                align-items: center;
                list-style: none;
                color: #fff;
                font-family: "Poppins", sans-serif;

                @include media-breakpoint-only(xs) { 
                    padding-left: map-get($spacers, 0);
                }

                li {
                    display: flex;
                    align-self: center;
                    padding-left: 25px;
                    margin-left: 25px;
                    line-height: 21px;

                    @include media-breakpoint-only(xs) { 
                        padding-right: map-get($spacers,3);
                        padding-left: map-get($spacers,3);
                        // margin-left: map-get($spacers,1);
                        margin: 0 auto;
                        
                    }

                    &:nth-child(2) {
                        border: solid 1px rgba(138, 153, 192, 0.2);
                        border-top-style: none;
                        border-bottom-style: none;
                        padding-left: 28px;
                        padding-right: 28px;

                        @include media-breakpoint-only(xs) { 
                            padding: 0 map-get($spacers,2);
                            // margin-left: map-get($spacers,1);
                            margin: map-get($spacers ,0);
                            
                        }
                    }

                    i {
                        color: $orange;
                        font-weight: $font-weight-light;
                        margin-right: map-get($spacers, 3);
                        @include responsive-font-size(28px);

                        @include media-breakpoint-only(xs) { 
                            margin-right: map-get($spacers, 2);
                            @include responsive-font-size(14px);
                        }
                    }
                
                    .text {
                        font-weight: $font-weight-normal;
                        @include responsive-font-size(15px);
                        
                        @include media-breakpoint-only(xs) { 
                            @include responsive-font-size(11px);
                        }
                    } 
                                       
                }
            }

        }
    }

    &__rowBottom {
        position: absolute;
        top: 130px;
        width: 100%;
        z-index: 1;
        transition: all 0.6s;

        @include media-breakpoint-only(xs) {
            top: 250px;
        }

        &__wrapper {
            background-color: #f7f9fa;

            .navbar {
                border-radius: 5px;

                .navbar-nav {
                    .menu-item {
                        margin: 10px;

                        a {
                            font-weight: $font-weight-bold;
                            color: #030f27;
                            // display: inline-block;
                            text-decoration: none;
                            transition: all 0.7s;
                            border-bottom: solid 2px transparent;
                            @include responsive-font-size(16px);

                            &:hover::after{
                                width: 100%;

                                @include media-breakpoint-only(xs){
                                    width: 20%;
                                }
                            }

                            &:after {
                                content: '';
                                position: relative;
                                top: 28px;
                                display: block;
                                width: 0;
                                height: 4px;
                                background-color: $orange;
                                transition: width .5s;

                                @include media-breakpoint-only(xs) {
                                    top: unset;
                                    height: 2px;
                                }
                            }
                            
                        }
                    }
                    
                }

                .shop-cart {
                    display: flex;
                    margin: map-get($spacers, 0 );
                    list-style: none;

                    li {
                        margin: 0 map-get($spacers,  2);
                    }
                }

            }

            /* Button Contact */
            .btn_budget {
                background-color: $orange;
                color: $white;
                font-weight: $font-weight-bold;
                text-transform: capitalize;
                padding: map-get($spacers, 2 ) map-get($spacers, 5);
                transition: all 0.7s;
                border: solid 2px transparent;
                @include responsive-font-size(16px);

                &:hover {
                    transition: all 0.7s;
                    color: $orange;
                    border: solid 2px $orange;
                    background-color: transparent;
                }
            }

        }
    }

}


@keyframes mymove {
    from {
        transition: all 0.5s;
        left: 0px;
    }

    to {
        transition: all 0.5s;
        right: 200px;
    }
}